@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.header {
    height: 12vh;
    display: flex;
}
main {
    background-color:hsl(0, 0%, 98%);
    height: 100vh;
}
.snap {
    background-color: hsl(0, 0%, 98%);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four {
    background-color: hsl(0, 0%, 98%);
    flex: 1;
    display: flex;
    align-items: center;
}
.burger {
    display: none;
    flex: 1;
}
.login  {
    background-color: hsl(0, 0%, 98%);
    width:350px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.p1 {
    margin: 0px 25px 0px 5px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
.btn {
    margin: 0px 25px 0px 5px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    background: none;
    padding: 12px;
    border-radius: 12px;
    border-color: hsl(0, 0%, 41%);
}
.ul-1 {
    position: relative;
    color: white;
    list-style: none;
    display: flex;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
.list1 {
    margin: 20px;
}
.drop-down1 {
    position: absolute;
    top: 23px;
    left: 97.8px;
    transform:translateY(50%);
}
.drop-down2 {
    position: absolute;
    top: 23px;
    left: 211.88px;
    transform:translateY(50%);
}
.list {
    margin: 20px;
}
.principal {
    display: flex;
    flex-direction: row;
    height: 160vh;
}
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    position: relative;
    flex-direction: column;
}
.lowel {
    margin: 55px 20px 0px;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    font-size: 60px;
}
.deuxieme {
    margin: 0px 20px 80px 20px;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    font-size: 60px;

} 
.para {
    margin: 20px 20px 30px 20px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    font-size: 18px;
}
.btn2 {
    margin: 20px;
    font-weight: 500;
    background: hsl(0, 0%, 8%);
    color: white;
    padding: 12px;
    border-radius: 12px;
    width: 150px;
    font-weight: 700;
}
.center {
    display: flex;
    justify-content: center;
}
.companies {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 60px;
}
.companies svg {
    margin: 0px 8px 0px 8px;
    flex: 1;
    height: 50px;
}
.width {
    width: 60%;
}
.img1 {
    object-fit:cover;
    width: 420px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height: 80vh;
}
.imgdiv {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
@media screen and (max-width:800px)   {
    .four {
        display: none;
    }
    .login {
        display: none;
    }
    .burger {
        background-color: hsl(0, 0%, 98%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .mm {
        margin-right: 15px;
    }
    .principal {
        flex-direction: column-reverse;
    }
    .img1 {
        width: 100%;
    }
    .right {
        flex: 0.4;
    }
    .width {
        width: 90%;
    }
    .btn22 {
        display: flex;
        justify-content: center;
    }
    .para {
        margin: 2px;
        text-align: center;
    }
    .deuxieme {
        margin: 0px 20px 30px 20px;
    }
    .companies svg {
        width: 25%;
    }
}   
